# ensure members of i2c group can read/write I2C devices
# taken from Raspbian /etc/udev/rules.d/99-com.rules
SUBSYSTEM=="i2c-dev", GROUP="i2c", MODE="0660"
