# ensure members of spi group can read/write SPI devices
# taken from Raspbian /etc/udev/rules.d/99-com.rules
SUBSYSTEM=="i2c-dev", GROUP="i2c", MODE="0660"
