# ensure members of spi group can read/write SPI devices
# taken from Raspbian /etc/udev/rules.d/99-com.rules
SUBSYSTEM=="spidev", GROUP="spi", MODE="0660"